<!doctype html>
<html class="no-js" lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
  <title>@@pagename - <%= projectName %></title>
  <link rel="stylesheet" media="all" href="css/main.css">
  <% if (features.useModernizr) { %>
  <!-- build:js js/modernizr.min.js -->
    <script src="bower_components/modernizr/modernizr.js"></script>
  <!-- endbuild --><% } else { %>
    <script>document.documentElement.className = document.documentElement.className.replace(/(\s|^)no-js(\s|$)/, 'js');</script>
  <% } %>
</head>
