<!DOCTYPE html>
<!--[if IE 8]> <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <title>@@pagename - <%= projectName %></title><% if (useBootstrap) { %>
  <!-- build:css css/libraries.min.css -->
  <script src="bower_components/bootstrap/dist/css/bootstrap.min.css"></script>
  <!-- endbuild --><% } %>
  <link rel="stylesheet" media="all" href="css/main.css">
  <% if (useModernizr) { %>
    <script src="js/modernizr.min.js"></script>
  <% } else { %><script>document.documentElement.className = document.documentElement.className.replace(/(\s|^)no-js(\s|$)/, 'js');</script>
  <!--[if lt IE 9]>
    <script src="js/html5shiv.min.js"></script>
  <![endif]--><% } %>
</head>
