<!DOCTYPE html>
<!--[if IE 8]> <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
  <title>@@pagename - <%= projectName %></title><% if (features.useBootstrap) { %>
  <!-- build:css css/libraries.min.css -->
    <script src="bower_components/bootstrap/dist/css/bootstrap.min.css"></script>
  <!-- endbuild --><% } %>
  <link rel="stylesheet" media="all" href="css/main.css">
  <% if (features.useModernizr) { %>
  <!-- build:js js/modernizr.min.js -->
    <script src="bower_components/modernizr/modernizr.js"></script>
  <!-- endbuild -->
  <!--[if lt IE 9]>
    <!-- build:js js/lt-ie9.min.js -->
    <!-- endbuild -->
  <![endif]-->
  <% } else { %><script>document.documentElement.className = document.documentElement.className.replace(/(\s|^)no-js(\s|$)/, 'js');</script>
  <!--[if lt IE 9]>
    <!-- build:js js/lt-ie9.min.js -->
      <script src="bower_components/html5shiv/dist/html5shiv.min.js"></script>
    <!-- endbuild -->
  <![endif]--><% } %>
</head>
