@@include('head.<%= extension %>', {"pagename": "Sample WordPress Page"})

<body>

@@include('header.<%= extension %>')

  <div class="content">
    <h1>Sample WordPress Page</h1>
    <div class="entry-content">
      <h2>Heading 2</h2>

      <p>Lorem ipsum dolor sit amet, <a href="http://www.example.org">consectetuer adipiscing</a> elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud <strong>exerci tation</strong> ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>

      <p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse <em>molestie consequat</em>, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio <abbr title="dignissim qui blandit">dqb</abbr> praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.</p>

      <p><a href="#"><img src="http://placehold.it/150x100" class="alignright" alt=""></a> Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.</p>

      <p><img src="http://placehold.it/150x100" class="alignleft" alt=""> Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.</p>

      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.</p>
      <p><img src="http://placehold.it/150x100" class="aligncenter" alt=""></p>
      <h3>Heading 3</h3>
      <p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat <q>nulla facilisis at vero eros et accumsan</q> et iusto odio dignissim qui blandit praesent luptatum zzril <code>delenit augue</code> duis dolore te feugait nulla facilisi.</p>

      <div class="wp-caption aligncenter" style="width: 160px">
        <img src="http://placehold.it/150x100" alt="">
        <p class="wp-caption-text">Image caption</p>
      </div>

      <blockquote>
        <p>"Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi."</p>
      </blockquote>

      <h4>Heading 4</h4>
      <ul>
        <li>list item 1</li>
        <li>list item 2</li>
        <li>list item 3
          <ul>
            <li>list item 4</li>
            <li>list item 5</li>
            <li>list item 6</li>
          </ul>
        </li>
      </ul>

      <ol>
        <li>list item 1</li>
        <li>list item 2</li>
        <li>list item 3</li>
      </ol>

      <h5>Heading 5</h5>
      <dl>
        <dt>Definition term</dt>
        <dd>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</dd>
        <dt>Definition term</dt>
        <dd>Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</dd>
        <dt>Definition term</dt>
        <dd>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.</dd>
      </dl>

      <h6>Heading 6</h6>
      <table>
        <tr>
          <th>Lorem ipsum</th>
          <th>Lorem ipsum</th>
        </tr>
        <tr>
          <td>Ut wisi enim</td>
          <td>Ut wisi enim ad minim veniam</td>
        </tr>
        <tr>
          <td>Duis autem</td>
          <td>Duis autem vel eum</td>
        </tr>
      </table>
    </div>
    <!-- / entry-content -->
  </div>
  <!-- / content -->

@@include('sidebar.<%= extension %>')
@@include('footer.<%= extension %>')
@@include('scripts.<%= extension %>')

</body>
</html>
