/* Utilities
   ========================================================================= */

/* Hide visually but not from screen readers */
.hide {
  position: absolute !important;
  left: -9999em !important;
}

/* Image Replacement */
.ir {
  display: block;
  position: relative;
  overflow: hidden;

  span {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
  }
}
